<!DOCTYPE html>
<html>
<head>
	<title>Location Test Page</title>
	<script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	<script>
		$(document).ready(function(){
			$(document).ready(function(){
				function getLocation(){
					navigator.geolocation.getCurrentPosition(showPosition);
				}
				function showPosition(position){
					var lat = position.coords.latitude;
					document.getElementById("Lat").value = lat;
					var lng = position.coords.longitude;
					document.getElementById("Lng").value = lng;
				}
				getLocation()
			});
		})
	</script>
</head>
<body>
	<div>
		<form action="/location/search" method="post">
			{% csrf_token %}
			<input type="hidden" name="Lat" id="Lat">
			<input type="hidden" name="Lng" id="Lng">
			Activity you are interested in:
			<select name="categoryId">
				{% for category in categories %}
					<option value="{{ category.id }}">{{ category.name }}</option>
				{% endfor %}
			</select>
			<input type="submit" value="submit">
		</form>
	</div>
</body>
</html>